In [5]:
#task 1, importing numpy and pandas 
import numpy as np
import pandas as pd
print("numpy and pandas library installed".upper())
#creating employee data dictionary so that it can be converted to dataframe
#employee dictionary
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
#converting to dataframe
employee_df=pd.DataFrame(employee_data)
#saving it as .csv file using to_csv()
employee_df.to_csv('employee.csv',index='false')
#display the dataframe
print("\n Employee dataframe created : \n")
print(employee_df)
#creating Seniority Level DataFrame  data dictionary so that it can be converted to dataframe
#Seniority Level dictionary
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
#converting to dataframe
seniority_df=pd.DataFrame(seniority_data)
#saving it as .csv file using to_csv()
seniority_df.to_csv('seniority.csv',index='false')
#display the dataframe
print("\n Seniority Level dataframe created : \n")
print(seniority_df)
#creating project data dictionary so that it can be converted to dataframe
#project dictionary ,used np.nan for null values
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
#converting to dataframe
project_df=pd.DataFrame(project_data)
#saving it as .csv file using to_csv()
project_df.to_csv('project.csv',index='false')
#display the dataframe
print("\n project dataframe created : \n")
print(project_df)
print("\n TASK 1 is completed.\n")

NUMPY AND PANDAS LIBRARY INSTALLED

 Employee dataframe created :

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

 Seniority Level dataframe created :

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

 project dataframe created :

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

 TASK 1 is completed.

In [7]:
print("TASK 2")
#checking how many missing values there
print(f"\nMissing values: {project_df['Cost'].isna().sum()}")
#creating a cost list from the project dataframe
costs = project_df['Cost'].tolist()
print('\n',costs)
previous_costs = []
# Loop through the list and update missing values
for i in range(len(costs)):
    if pd.isna(costs[i]):
        # Calculate average of previous non-missing values
        if previous_costs:
            avg = sum(previous_costs) / len(previous_costs)
            costs[i] = avg
    else:
        # Add current value to previous_costs if it's not NaN
        previous_costs.append(costs[i])

# Update the dataframe
project_df['Cost'] = costs

# Optional: Save the cleaned DataFrame
project_df.to_csv("Project.csv", index=False)

# Display result
print('\n',project_df)
print("\n TASK 2 is completed.\n")

TASK 2

Missing values: 2

 [1002000.0, 2000000.0, 4500000.0, 5500000.0, nan, 680000.0, 400000.0, 350000.0, nan, 300000.0, 2000000.0, 1000000.0, 3000000.0, 200000.0]

       ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

 TASK 2 is completed.

In [11]:
print('TASK 3')
#loading employee dataframe
employee_df = pd.read_csv("Employee.csv")
#spliting the names into 2 columns using str.split() and expand='true' logic
#employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', n=1, expand=True)
# Step 3: replacing the old 'Name' column
#employee_df.drop(columns=['Name'], inplace=True)
#Save the updated DataFrame
employee_df.to_csv("Employee.csv", index=False)
# Print new update
print('\n',employee_df)

TASK 3

    Unnamed: 0    ID Gender     City  Age First Name  Last Name
0           0  A001      M    Paris   25       John      Alter
1           1  A002      F   London   27      Alice  Luxumberg
2           2  A003      M   Berlin   29        Tom  Sabestine
3           3  A004      F  Newyork   31       Nina      Adgra
4           4  A005      F   Madrid   30        Amy      Johny